.cta {
  padding: 8rem 0;
  position: relative;
  height: 70vh;
}

.cta__img__box {
  background-color: var(--primary-700);
  height: 100%;
  object-fit: cover;
}

.cta__img__box img {
  height: 100%;
  opacity: 40%;
}

.cta__content {
  text-align: center;
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cta__content h2 {
  color: var(--primary-100);
}

.cta__text {
  margin-bottom: 2rem;
  color: var(--primary-100);
}